.App {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/paper.png');
  background-repeat: repeat;
}

.App-header {
  background-color: transparent;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list li {
  color: #000;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid #b87333;
  padding: 10px;
  border-radius: 10px;
}

.nav-list li i {
  margin-right: 5px;
}